.PinkButton {
  width: fit-content;
  .Button {
    border: none;
    background-color: #f92950;
    padding: 13px 30px 13px 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 13.542px;
    line-height: 20px;
    color: #ffffff;
  }
}
