.Nav6-Body {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #161d25;
  .navbar-Container {
    position: relative;
    .SearchedClicked {
      transition: 1s;
      opacity: 1;
    }
    .SearchedNotClicked {
      opacity: 0;
      transition: 1s;
    }
    .search {
      position: absolute;
      z-index: +1;
      margin-left: -15rem;
      width: 16rem;
      margin-top: 0.25rem;
      @media screen and (max-width: 992px) {
        margin-top: 3rem;
      }
      @media screen and (max-width: 476px) {
        margin-left: -10rem;
      }
    }
    .SearchText {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: white;
      text-decoration: none;
    }
    .SearchBar {
      border: none;
      height: 2rem;
      width: 11.55rem;
      border-radius: 10px 0 0 10px;
    }
    .crossButton {
      position: absolute;
      z-index: +1;
      margin-left: -0.5rem;
      margin-top: -0.25rem;
      background-color: white;
      border: none;
      height: 2rem;
      border-radius: 0px 10px 10px 0px;
      transition: 0.5s;
    }
    background-color: #161d25;
    .links {
      background-color: #161d25;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #f6f7fb;
    }
    .logo > img {
      @media screen and (max-width: 580px) {
        width: 130px;
        height: 60px;
      }
      @media screen and (max-width: 400px) {
        // width: 100px;
        // height: 60px;
      }
    }
    .icon1 {
      margin-top: 0.35rem;
      background-color: #2a343f;
      height: 2rem;
      width: 2rem;
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 1rem !important;
      @media screen and (max-width: 400px) {
        margin-right: 0.2rem !important;
      }
    }
    .d-lg-none.h-75.mt-2.mb-auto.p-2.bg-transparent.border-0.btn.btn-light {
      color: white !important;
    }
  }
}
