.Black-Body {
  height: fit-content;
  .playbox {
    background-color: black;
    height: 100vh;
    .play {
      width: fit-content;
      border-radius: 50%;
      border: none;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25vh;
    }
    .title {
      font-family: "Jost";
      font-style: normal;
      font-weight: 600;
      font-size: 70px;
      line-height: 66px;
      text-align: center;
    }
  }
  .timmer-card {
    margin-top: -20vh;
    height: 70vh;
    background-color: #f8f8f8;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cartmax-39396.appspot.com/o/Watch%2Fwatches%2FLayer%20569.png?alt=media&token=49d58d3e-309e-4a6e-90d9-ba6b197379f5");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    @media screen and (max-width: 992px) {
      background-image: none;
    }
    .Content {
      margin-left: 43rem;
      margin-top: 5rem;
      @media screen and (max-width: 1400px) {
        margin-left: 37rem;
      }
      @media screen and (max-width: 1200px) {
        margin-left: 25rem;
      }
      @media screen and (max-width: 992px) {
        margin-left: 10rem;
      }
      @media screen and (max-width: 667px) {
        margin-left: 3rem;
      }
      @media screen and (max-width: 667px) {
        margin-left: 0.5rem;
      }
      .tag {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #b38068;
      }
      .title {
        font-family: "Jost";
        font-style: normal;
        font-weight: 600;
        font-size: 55px;
        line-height: 79px;
        color: #191919;
        @media screen and (max-width: 667px) {
          font-size: 45px;
          line-height: 50px;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
      .price {
        font-family: "Jost";
        font-style: normal;
        font-weight: 600;
        font-size: 17.876px;
        line-height: 26px;
        color: #272727;
      }
      .text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #565656;
        width: 29rem;
        @media screen and (max-width: 515px) {
          width: 100%;
        }
      }
      .number-container {
        width: 84px;
        height: 91px;
        background-color: black;
        .count {
          font-family: "Jost";
          font-style: normal;
          font-weight: 700;
          font-size: 29.81px;
          line-height: 43px;
          color: #ffffff;
          width: fit-content;
        }
        .days {
          font-family: "Jost";
          font-size: 12.936px;
          line-height: 15px;
          color: #e5e5e5;
          width: fit-content;
        }
      }
    }
  }
}
