.Hyperion-Body {
  height: fit-content;
  .light {
    background-color: #d4d1d1;
    height: 113.8vh;
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
  .carousel-indicators {
    display: none !important;
  }
  .dark {
    background-color: #faf2f0;
    height: 113.8vh;
    .shirt {
      width: 100%;
      height: 400px;
      background-color: white;
      display: flex;
      justify-content: center;
      .shirt-img {
        width: 250px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        object-fit: contain;
      }
    }
    .content {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
      .tag-Container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .tag {
          width: fit-content;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 30px;
          letter-spacing: 0.1em;
          color: #7b7d7f;
        }
        .sale {
          width: fit-content;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 30px;
          letter-spacing: 0.1em;
          color: white;
          background-color: black;
          height: fit-content;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
      .title {
        color: black;
        font-family: "Jost";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 45px;
      }
      .price1 {
        color: #b67c5a;
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
      }
      .price2 {
        color: #a8aaab;
        font-family: "Jost";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        text-decoration: line-through;
      }
      .text {
        font-family: "Jost";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #7b7d7f;
      }
      .color {
        font-family: "Jost";
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 17px;
        color: #1c1f23;
      }
      .icon {
        margin-left: 0.35rem;
        margin-top: -0.4rem;
      }
      .border1 {
        width: 30px;
        height: 30px;
        background-color: white;
        .color1 {
          margin-left: 4px;
          margin-top: 4px;
          background-color: #f1eae1;
          height: 22px;
          width: 22px;
          cursor: pointer;
        }
      }
      .border2 {
        width: 30px;
        height: 30px;
        background-color: white;
        .color2 {
          margin-left: 4px;
          margin-top: 4px;
          background-color: #2d5fa1;
          height: 22px;
          width: 22px;
          cursor: pointer;
        }
      }
      .border3 {
        width: 30px;
        height: 30px;
        background-color: white;
        .color3 {
          margin-left: 4px;
          margin-top: 4px;
          background-color: #997a68;
          height: 22px;
          width: 22px;
          cursor: pointer;
        }
      }
      .size {
        font-family: "Jost";
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 17px;
        color: #1c1f23;
      }
      .dropdown {
        .ddbutton.dropdown-toggle.btn.btn-light {
          font-family: "Jost";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 22px;
          color: #7b7d7f;
          border-radius: 0px !important;
          background-color: white !important;
        }
        .dropdown-item {
          font-family: "Jost";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 22px;
          color: #7b7d7f;
        }
      }
      .Button {
        width: 160px;
        height: 50px;
        border: none;
        border-radius: 25px;
        background-color: #fb491d;
        font-family: "Jost";
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 17px;
        color: #ffffff;
      }
      .Counter {
        width: 100px;
        height: 50px;
        background-color: white;
        border-radius: 25px;
        .decrement,
        .increment {
          cursor: pointer;
        }
        .contents {
          margin-top: 0.65rem;
          color: #a8aaab;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          .active {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #1c1f23;
            margin-top: 0.2rem;
          }
        }
      }
    }
  }
}
