.BlackWhite-Body {
  .img {
    width: 100%;
    margin-left: 7%;
    margin-left: 7%;
  }
  .title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 48.232px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
  }
  .ViewAll {
    font-family: "Jost";
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #ffffff;
  }
  .UserNames {
    font-family: "Jost";
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .Black {
    background-color: #242424;
  }
  .White {
    background-color: #414141;
  }
}
