.TransButton-Body {
  width: fit-content;
  .Button {
    margin-top: 2rem;
    width: 225px;
    height: 46px;
    background: transparent;
    border-radius: 25px;
    border: 2px solid;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 13.846px;
    line-height: 16px;
  }
}
