.BlueButton-Body {
  width: fit-content;
  .Button {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    width: fit-content;
    padding: 1rem;
    background-color: #0170dc;
    border: none;
    border-radius: 25px;
  }
}
