.BrownButton-Body {
  width: fit-content;
  button {
    width: fit-content;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12.918px;
    line-height: 15px;
    color: #ffffff;
    background: #b38068;
  }
}
