.Categories2-Body {
  height: fit-content;
  margin-bottom: 3rem;
  .tag {
    margin-top: 2rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #0170dc;
    border: 2px solid #0170dc;
    width: fit-content;
    border-radius: 25px;
  }
  .title {
    font-family: "Jost";
    font-size: 35px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: #333e48;
  }
  a {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #0170dc;
    margin-left: auto;
  }
  .Container-Box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  .item {
    margin: 0.25rem;
  }
  .img2-container {
    .img2 {
      margin-top: 7rem;
    }
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .images-container {
    .img3 {
      cursor: pointer;
      width: 70%;
      @media screen and (max-width: 1200px) {
        width: 65%;
      }
    }
    .img4 {
      cursor: pointer;
      width: 75%;
      @media screen and (max-width: 1400px) {
        width: 70%;
      }
    }
  }
}
