.Nav2-Body {
  background-color: #4b4b4b;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  .img {
    margin-top: 0rem;
    margin-left: 3rem;
    @media screen and (max-width: 565px) {
      margin-left: 0.5rem;
    }
    @media screen and (max-width: 400px) {
      margin-left: -0.5rem;
    }
    @media screen and (max-width: 461px) {
      width: 150px;
      height: 65px;
    }
  }
  .canvas {
    margin-right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (max-width: 565px) {
      margin-right: 0rem;
    }
  }
  .Menu-Button {
    background-color: transparent;
    border: none;
    @media screen and (max-width: 565px) {
      padding-right: 0rem;
      margin-right: 1rem;
    }
  }
  .Menu-Button:hover {
    background-color: black;
  }
  .cart-Button {
    background-color: transparent;
    border: none;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 2rem;
    margin-left: auto;
    margin-right: 2rem;
    border-radius: 50%;
    @media screen and (max-width: 565px) {
      margin-right: 0.5rem;
    }
  }
  .whishList-Button {
    background-color: transparent;
    border: none;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 2rem;
    margin-right: 1.3rem;
    border-radius: 50%;
    @media screen and (max-width: 565px) {
      margin-right: 0.5rem;
      padding-left: 0;
      margin-left: 0.5rem;
    }
  }
  .searchIcon {
    @media screen and (max-width: 565px) {
      margin-right: 0rem;
    }
  }
  .cart-Button:hover {
    background-color: transparent;
    border: none;
  }
  .Icon {
    color: white;
    background-color: #2a343f;
    border-radius: 50%;
    padding: 7px;
  }
}
