.Nav2-Body {
  background-color: #4b4b4b;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  // padding-bottom: 1.5rem;
  .SearchedClicked {
    transition: 1s;
    opacity: 1;
  }
  .SearchedNotClicked {
    opacity: 0;
    transition: 1s;
  }
  .search {
    position: absolute;
    z-index: +1;
    margin-left: -6rem;
    width: 16rem;
    margin-top: 3.5rem;
    @media screen and (max-width: 992px) {
      margin-top: 3rem;
    }
    @media screen and (max-width: 476px) {
      margin-left: -8.5rem;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 4rem;
    }
    @media screen and (max-width: 450px) {
      margin-top: 4.5rem;
      margin-left: -8rem;
    }
  }
  .SearchText {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-decoration: none;
  }
  .SearchBar {
    border: none;
    height: 2rem;
    width: 11.55rem;
    border-radius: 10px 0 0 10px;
  }
  .crossButton {
    position: absolute;
    z-index: +1;
    margin-left: -0.5rem;
    margin-top: -0.25rem;
    background-color: white;
    border: none;
    height: 2rem;
    border-radius: 0px 10px 10px 0px;
    transition: 0.5s;
  }
  .img {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: 3rem;
    @media screen and (max-width: 565px) {
      margin-left: 0.5rem;
    }
    @media screen and (max-width: 400px) {
      margin-left: -0.5rem;
    }
    @media screen and (max-width: 461px) {
      width: 130px;
      height: 55px;
    }
  }
  .canvas {
    margin-right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (max-width: 565px) {
      margin-right: 0rem;
    }
  }
  .Menu-Button {
    background-color: transparent;
    border: none;
    @media screen and (max-width: 565px) {
      padding-right: 0rem;
      margin-right: 1rem;
    }
  }
  .Menu-Button:hover {
    background-color: black;
  }
  .cart-Button {
    background-color: transparent;
    border: none;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 2rem;
    margin-left: auto;
    margin-right: 2rem;
    border-radius: 50%;
    @media screen and (max-width: 565px) {
      margin-right: 0.5rem;
    }
  }
  .whishList-Button {
    background-color: transparent;
    border: none;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 2rem;
    margin-right: 1.3rem;
    border-radius: 50%;
    @media screen and (max-width: 565px) {
      margin-right: 0.5rem;
      padding-left: 0;
      margin-left: 0.5rem;
    }
  }
  .searchIcon {
    cursor: pointer;
    @media screen and (max-width: 565px) {
      margin-right: 0rem;
    }
  }
  .cart-Button:hover {
    background-color: transparent;
    border: none;
  }
  .Icon {
    color: white;
    background-color: #2a343f;
    border-radius: 50%;
    padding: 7px;
  }
}
