.Mini-Body {
  .Image-Container {
    @media screen and (max-width: 1200px) {
      display: flex;
      justify-content: center;
    }
    .img {
      @media screen and (max-width: 657px) {
        width: 100%;
      }
    }
  }
  .content {
    padding-left: 2rem;
    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0rem !important;
    }
    .tag {
      margin-top: 7rem;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #d9121f;
      margin-bottom: 0.5rem;
      @media screen and (max-width: 1200px) {
        margin-top: 2rem;
      }
    }
    .title {
      margin-top: 0.5rem;
      font-family: "Jost";
      font-style: normal;
      font-weight: 600;
      font-size: 45px;
      line-height: 45px;
      letter-spacing: -0.02em;
      color: #151515;
      @media screen and (max-width: 657px) {
        width: 95%;
        text-align: center;
        margin-bottom: 0.5rem;
      }
    }
    .price1 {
      font-family: "Jost";
      font-size: 18px;
      line-height: 21px;
      text-decoration-line: line-through;
      color: #151515;
    }
    .price2 {
      font-family: "Jost";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #606060;
    }
    .text {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #5d5d5d;
      width: 37rem;
      @media screen and (max-width: 657px) {
        width: 100%;
      }
    }
    .images {
      display: flex;
      flex-direction: row;

      position: absolute;
      z-index: +1;
      margin-top: 0rem;
      margin-left: -8rem;
      @media screen and (max-width: 1200px) {
        margin-top: 13rem;
        margin-left: 0rem;
      }
      @media screen and (max-width: 517px) {
        margin-top: 17rem;
        margin-left: 0rem;
      }
      .img4 {
        @media screen and (max-width: 756px) {
          display: none;
        }
      }
      .img3 {
        @media screen and (max-width: 517px) {
          display: none;
        }
      }
    }
    .CartButtons {
      margin-top: 15rem;
      @media screen and (max-width: 1200px) {
        margin-top: 15rem;
      }
    }
    .Counter {
      width: fit-content;
    }
    .Counter {
      font-family: "Jost";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 25px;
      color: #3d3d3d;
      .Plus,
      .Minus {
        border: none;
      }
    }
  }
}
