.YourItems-Body {
  height: 100vh;
  .tag {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #f76954;
  }
  .title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }
}
  