.Yourself-Body {
  margin-top: 2rem;
  span {
    background: linear-gradient(118.01deg, #9f119f 8.13%, #224fc8 91.87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .tag {
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  .Title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 39.369px;
    line-height: 57px;
    letter-spacing: -0.02em;
    color: #141412;
    @media screen and (max-width: 768px) {
      margin-left: 25% !important ;
    }
    @media screen and (max-width: 563px) {
      margin-left: 20% !important ;
    }
    @media screen and (max-width: 500px) {
      margin-left: 5% !important ;
    }
    @media screen and (max-width: 430px) {
      font-size: 25px !important ;
      line-height: 30px !important ;
      margin-left: 15% !important ;
    }
  }
  .Options {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    cursor: pointer;
    font-family: "Jost";
    font-size: 19.684px;
    line-height: 23px;
    color: #141412;
    @media screen and (max-width: 768px) {
      justify-content: center !important;
    }
  }
  .active {
    color: #224fc8;
  }
  .Container-Box {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  .Option1 {
    @media screen and (max-width: 815px) {
      margin-left: 3% !important;
    }
  }
}
