.LatestNews-Body {
  height: fit-content;
  .tag {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #f92950;
    text-align: center;
  }
  .title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 65px;
    text-align: center;
  }
  .Container-Box {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  .add {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
